@page "/books/{bookId:int}/{bookSlug}/chapters/{chapterId:int}/{chapterSlug}/pages/{pageId:int}"
@model IllustratedBook.Pages.Books.BookPageModel

@if (Model.CurrentPage != null && Model.CurrentPage.Any())
{
    <h3>Page @Model.PageId</h3>
    <div>
        @foreach (var paragraph in Model.CurrentPage)
        {
            @Html.Raw(paragraph)
        }
    </div>
    <hr />
    <a asp-page="./Chapter" 
       asp-route-bookId="@Model.BookId" 
       asp-route-bookSlug="@Model.BookSlug"
       asp-route-chapterId="@Model.ChapterId" 
       asp-route-chapterSlug="@Model.ChapterSlug">Back to Pages</a>
}
else
{
    <h1>Page not found</h1>
} 